<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">

<div class = "top-navbar">


  <nav class="navbar navbar-expand-lg navbar-light bg-success justify-content-between">
    <a class="navbar-brand text-light " href="#" >
          Lunch Box
        </a>
      <ul class="nav navbar-nav mr-4">
      <li class="nav-item  btn-sign-up">
      <button type="button" class="btn btn-success">Sign Up</button>
      </li>
      <li class="nav-item  btn-sign-in">
    <button type="button" class="btn btn-success">Log In</button>
      </li>
  </ul>
  </nav>
  </div>
