<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title></head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link rel="stylesheet" href="styles/styles.css">

<body>
<!-- bootstrap top navbar -->


<div class = "top-navbar">


  <nav class="navbar navbar-expand-lg navbar-light bg-success justify-content-between">
    <a class="navbar-brand text-light " href="#" >
          Lunch Box
        </a>
      <ul class="nav navbar-nav mr-4">
      <li class="nav-item  btn-sign-up">
      <button type="button" class="btn btn-success">Sign Up</button>
      </li>
      <li class="nav-item  btn-sign-in">
    <button type="button" class="btn btn-success">Log In</button>
      </li>
  </ul>
  </nav>
  </div>
  <!-- End navbar -->

  <!-- header section -->

  <div class="top-bg-img">

     <div class="top-heading">
       <h1>Order homemade food online </h1>
     </div>


    <div class="container  ">

    	<div class="row   ">
                            <div class="col-12 col-md-10 col-lg-8 col-pt-100  ">
                                <form class="card card-sm">
                                    <div class="card-body row no-gutters align-items-center" style = "display: flex;">
                                      <div class="col-auto">


                                        <button class="btn btn-default btn-gps">
                                        <img src="styles/placeholder.png" width="30px" height="30px"/>  </button>

                                      </div>
                                        <!--end of col-->


                                        <div class="col">
                                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search for area">
                                        </div>
                                        <!--end of col-->
                                        <div class="col-auto">
                                            <button class="btn btn-lg btn-success btn-search-main" type="submit">Search</button>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                </form>
                            </div>
                            <!--end of col-->
                        </div>
    </div>



  </div>


<script src="index.js" charset="utf-8"></script>
<script src="navbar.js" charset="utf-8"></script>
</body>

</html>
